<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.Presentacion.My.MySettings.cn" connectionString="Data Source=proyectofus.cecbqyxgpbsq.us-east-1.rds.amazonaws.com;Initial Catalog=dbsistema;User ID=root;Password=SANmateo*123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>